body {
  margin: 0;
  text-align: center;
}

@font-face {
  font-family: "Cursed Timer Ulil";
  src: url("CursedTimerUlil-Aznm.ttf");
}

.container {
  display: flex;
  justify-content: space-around;
  width: 575px;
  height: 385px;
  margin: 0 auto;
  background-color: hsla(229, 47%, 20%, 1);
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 0px;
  margin-top: 68px;
}

.score {
  background-color: hsla(353, 100%, 2%, 1);
  color: hsla(349, 93%, 64%, 1);
  height: 120px;
  width: 155px;
  font-size: 90px;
  margin-top: 21px;
  margin-bottom: 0px;
  font-family: "Cursed Timer Ulil";
  font-weight: 400;
  padding-bottom: 0px;
  line-height: 1.5;
}

.btn {
  margin-top: 26px;
}

.pointBtn {
  background: none;
  color: hsla(224, 44%, 73%, 1);
  border: 1px solid hsla(224, 44%, 73%, 1);
  width: 45px;
  height: 45px;
  border-radius: 5px;
  font-family: "Cursed Timer Ulil";
  font-weight: 400;
  font-size: 18px;
}

.reset {
  width: 575px;
  height: 100px;
  margin: 0 auto;
  background-color: hsla(229, 47%, 20%, 1);
  text-align: center;
}

.resetBtn {
  font-family: "Cursed Timer Ulil";
  font-weight: 400;
  font-size: 22px;
  color: hsla(229, 47%, 20%, 1);
  border: 1px solid hsla(224, 44%, 73%, 1);
  background: hsla(224, 44%, 73%, 1);
  border-radius: 5px;
  padding: 0.4em 2em;
}
